@import "bourbon"
@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/
/* Medium Devices, Desktops */
@media only screen and (max-width : 991px)
	/**/
	.footer
		display: none
	.ms-del
		display: none!important;
	.friends-block
		display: none
	.tablet-menu
		width: 260px
	.container
		padding-left: 0
		width: 100%
	.col-lg-7, .col-md-7
		padding: 0
	.messages-block
		margin-top: 10px
	.messages
		box-shadow: none
	.header-block
		display: none
	.button-tb-menu
		display: block
		margin-left: 10px
	.tb-menu-page
		display: block
		left: 52px
		right: -5px
	.f-head
		display: none
	body
		.messages
			height: 100%
			.m-list
				height: 100%
				width: 100%
				margin-left: 14px
				position: fixed
	body 
		.dialog
			box-shadow: none
			height: 100%
			position: fixed
			.ms-list-alignment
				height: 100%
				padding-left: 15px
				.ms-list
					padding-bottom: 150px
			.send-message-block
				bottom: 70px
				padding-left: 30px
				.send-inpt
					width: 80%
				.send-inpt-placeholder
					left: 40px
	.messages
		.m-list
			li
				a
					.ind
						top: 55px

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	body 
		.dialog
			.send-message-block
				.send-inpt
					width: 70%

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/
	body 
		.dialog
			.send-message-block
				.send-inpt
					width: 65%

/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 992px)
	/**/
	#tablet-menu
		display: none!important;
	.tb-menu-black-bg
		display: none!important;
	
/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

